<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ProjektSM">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:name=".WordLearning"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.ProjektSM"
        android:testOnly="false">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DownloadActivity" android:label="@string/download" android:screenOrientation="locked" />
        <activity android:name=".learning.WordListActivity" android:label="@string/words" />
        <activity android:name=".learning.WordDetailsActivity" android:label="@string/word_details" />
        <activity android:name=".quiz.DefinitionQuizActivity" android:label="@string/definition_quiz" />
        <activity android:name=".quiz.SynonymQuizActivity" android:label="@string/synonym_quiz" />

        <receiver android:name=".NotificationSender" />
    </application>

</manifest>